* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f9fc;
  color: #1f2937;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.navbar nav a {
  margin-right: 20px;
  text-decoration: none;
  color: grey;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.orange { background: #f97316; color: #fff; }
.blue { background: #2563eb; color: #fff; }
.green { background: #16a34a; color: #fff; margin-top: 40px; }

/* HERO */
/* HERO */
.hero {
  position: relative;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  background-image: url("./assets/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay content */
.hero-content {
  position: absolute;
  top: 30%;
  left: 60px;
  transform: translateY(-50%);
  max-width: 520px;
  color: #0f172a;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 16px;
  color: #475569;
  margin-bottom: 24px;
}

.hero-actions button {
  margin-right: 12px;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  width: 260px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* WHY */
.why {
  text-align: center;
  padding: 80px 20px;
}

/* DESTINATIONS */
.destinations {
  text-align: center;
  padding: 60px;
}

.dest-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 30px 0;
}

.dest-card {
  width: 300px;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* GUIDE */
.guide {
  background: #fff;
  padding: 60px;
  text-align: center;
}

.guide-steps {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}

.feature_guide {
    height: 100px;
    width: auto;
}

.choose_travo {
    text-align: center;
    margin: 80px 0px 40px 0px;
}

.travo_feature {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  background-image: url("./assets/bg_image_location.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}